/* Added my variables for chosen colors*/
:root {
  --orchid: orchid;
  --background: whitesmoke;
  --text:#4F4846;
  --header:#FDF8F5;
  --border:plum;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--border);
  color: var(--header);
  text-align: center;
  position: relative;
}

body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: var(--background);
  color: var(--text);
  }
  
  h2 {
    margin: 20px;
  }

  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  a{
    color: var(--header);
    text-decoration: none
  }

  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--border);
  }
  

  
  .grid-container {
    display: grid;
    /* grid-template-columns:300px auto 300px; */
    grid-template-columns: auto auto auto auto;
    background-color: var(--);
    border-style: solid;
    border-color: goldenrod;
    height: 300px;
    width: 97%;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 80px  30px;


  }
  
  .grid-item{
    background-color: var(--background);
    border: 1px solid goldenrod;
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }
  .footer {
    position: relative;
    margin-top: 0;
    bottom: 0;
    color: var(--header);  
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
  }
  
  img {
    display: block;
    margin-left: 50px;
    border-radius: 50%;
    max-height: 150px;
    text-align: left;
  
    
  }
  #projects2{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;


  }

p {
  font-size: 30px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
  
}

.Name{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--text)
}


/*This controls the styling of my boxes*/
.boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text);
    width: 97%;
    border-style: solid;
    border-color: goldenrod;
    text-align: center;
  
}

.boxes img {
    max-height: 200px;
}

.boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

@media  screen and (max-width: 1080px)  {
  p {
    font-size: 20px;
  
  }
}
