/* Added my variables for chosen colors*/
:root {
  --boxes: goldenrod;
  --background: whitesmoke;
  --text:#4F4846;
  --header:#FDF8F5;
  --border:plum;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--border);
  color: var(--header);
  text-align: center;
  position: relative;
  height: 60px;
  width: 100%;
  line-height: 60px;
}
/*Experimenting with this aspect of CSS rather than making classes and ids for everything.*/
body {
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--border);
  font-size: 20px;
  background-color: var(--background);
  color: var(--text);
  }
  
  h2 {
    margin: 20px;
  }

  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a{
    color:var(--header);
    text-decoration: none
  }


/*This section controls my Portfolio box.*/  
  .grid-container {
    display: grid;
    grid-template-columns: 175px auto 320px 320px;
    background-color: var(--);
    border-style: solid;
    border-color: var(--boxes);
    height: 300px;
    width: 97%;
    margin-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background);
    gap: 80px  30px;
  }
  
  .grid-item1{
    background-image: url("./GitHub\ Challenge\ 2.webp");
    border: 1px solid var(--boxes);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-size: 500px ;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--header);
  }

  .grid-item2{
    background-image: url("./coming\ soon.jpeg");
    border: 1px solid var(--boxes);
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    
  }

  .footer {
    position: relative;
    margin-top: 0;
    bottom: 0;
    color: var(--header);  
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;  
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: var(--border);

  }
  
  img {
    display: block;
    margin-left: 10px;
    border-radius: 50%;
    max-height: 175px;
    text-align: left;
    
  
    
  }
  #projects2{
    text-align: center;
    margin-top: 100px;
    font-size: 40px;


  }

p {
  font-size: 25px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
  
}

/*This controls the styling of my boxes*/
.boxes {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
    width: 97%;
    border-style: solid;
    border-color: var(--boxes);
    text-align: center;
  
}

.boxes img {
    max-height: 200px;
}

.boxes h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Attempting to make it more responsive. I will need to work on this skill.*/
@media screen and (max-width: 1080px){
  p {
    font-size: 20px;
  
  }
}

@media screen and (max-width: 789px) {
  p{
    font-size:10px;
  }
  
}

@media screen and (max-width:400px) {
  p{
    font-size: 8px
  }
}